 <div id="rooms_container" class="row bg-dark text-light">
    <%if @single_room%>
        <div id="room_container" class=" bg-dark text-light"  
        data-controller="operation" 
        data-operation-userid="<%=Current.user.id%>" 
        data-operation-version="<%=@single_room.version%>" 
        data-operation-roomid="<%=@single_room.id%>"
        >
            <h4 class="text-center" >
                <%=@single_room.name%>
            </h4>
            <div style="background-color: gray;">
                <trix-editor id="trix-editor-1" data-action="input->operation#onInput" data-operation-target="body" ></trix-editor>
            </div>
        </div>
    <%end %>
</div>