/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* font-family: "Averia Libre"; */
 body {
      margin: 0px;
  }
  #single_room{
    height: calc(100vh-150px);
    overflow-x: hidden;
    overflow-y: scroll;
  }
  header {
    margin: 0px;
    margin-top: 0.2rem;
    border-bottom: 0.2rem solid darkolivegreen;
    border-top: 0.15rem solid darkolivegreen;
  }
  footer {
    height: 2rem;
    background-color: rgb(33, 37, 41);
  }
     /* class: "navbar-dark bg-dark" */

  header > nav > a {
    margin-left:  1rem ;
    padding: 0.5rem;

  }
  header > nav > ul {
    gap: 1rem;
    margin-top: 1rem;
    padding: 0.5rem;
    display:flex;
    overflow-x:auto;

    list-style: none;
    height: 2.6rem;
  }
  header > nav > ul > li> form >  button {
    
    border: 0.15rem solid darkolivegreen;
  }
  main {
    
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
  #page{
    height: 35rem;
  }
  #room_container{

    height: 90%;
    padding-left: 1.5rem;
  }
  #side_panel{
    height: 100vh;
    margin-right: 0px !important;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-bottom: 55px;
  }
  #rooms_container{
    height: 90%;
    margin-left: 0px !important;
    height: 100vh;
    margin-right: 0px !important;
    overflow-y: scroll;
  }
